@tailwind base;
@tailwind components;
@tailwind utilities;

@media (min-width: 640px) {
  .sideBar {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 600px;
    background-color: rgba(138, 138, 138, 0.4);
    padding: 20px;
    box-shadow: -5px 0 10px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
  }
}

@layer components{
  .sdg-block{
    @apply block w-[64px] h-[64px] rounded-sm p-2 m-1 hover:scale-105 transition duration-100 cursor-pointer;
  }

}
